$container: #e7ab4f;
$lattice : darken($container, 5);

.grid-container {
  display: flex;
  width: 370px;
  flex-wrap: wrap;
  background-color: #e7ab4f;
    .vertical-lattice {
      width: 10px;
      height: 50px;
      background-color: $lattice;
    }

    .vertical-lattice.active {
      background-color: darkred;
    }
    .horizontal-lattice {
      width: 50px;
      height: 10px;
      background-color:  $lattice;
    }
    .square-gap {
      width: 10px;
      height: 10px;
      background-color: inherit;
    }

    .horizontal-lattice.active {
      background-color: darkred;
    }
    .field {
      width: 50px;
      height: 50px;
      background-color: inherit;
      &__picture {
      background-color: inherit;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      }
      &__lion {
        background-image: url("assets/crowns-lions/lion.svg");
      }
      &__crown {
        background-image: url("assets/crowns-lions/crown.svg");
      }

    }


}
