$container: #e7ab4f;
$lattice-color : darken($container, 5);
$lattice-width : 5px;
$field-size: 70px;


.grid-container {
  display: flex;
  width: $field-size * 6 + $lattice-width * 7;
  flex-wrap: wrap;
  background-color: #e7ab4f;
    .vertical-lattice {
      width: $lattice-width;
      height: $field-size;
      background-color: $lattice-color;
    }

    .vertical-lattice.active {
      background-color: darkred;
    }
    .horizontal-lattice {
      width: $field-size;
      height: $lattice-width;
      background-color:  $lattice-color;
    }
    .square-gap {
      width: $lattice-width;
      height: $lattice-width;
      background-color: inherit;
    }

    .horizontal-lattice.active {
      background-color: darkred;
    }
    .field {
      width: $field-size;
      height: $field-size;
      background-color: inherit;
      &__picture {
      background-color: inherit;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      }
      &__lion {
        background-image: url("assets/crowns-lions/lion.svg");
      }
      &__crown {
        background-image: url("assets/crowns-lions/crown.svg");
      }

    }


}
